img{
    width:15%;
    object-fit:contain
}
.navbar{
    display:flex;
    justify-content: space-between;
    box-shadow: 1px 5px 5px hsla(310, 69%, 51%, 0.863);
}
.nav-menu{
    display:flex
}
li{
    list-style: none;
    padding:1px 15px;
}
a{
    text-decoration: none;
    color:black;
    font-size : 15px;
}
.serchBar {
    display: flex;
    align-items: center;
    width: 400px;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 0 16px;
  }
  
  .serchBar input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
  }
  
 