img{
    width:15%;
    object-fit:contain
}
.navbar{
    display:flex;
    justify-content: space-around;
    box-shadow: 1px 5px 5px hsla(310, 69%, 51%, 0.863);
}
.nav-menu{
    display:flex
}
li{
    list-style: none;
    padding:1px 15px;
}
a{
    text-decoration: none;
    color:black;
    font-size : 15px;
}
