.singIn{
    background-size: cover;
   flex:1;
   width: 100vw;
   height:100vw;
   display:flex;
   justify-content: center;
   align-items: center;
}
.singUpLogo{
    width: 100px;
    object-fit: contain;
    padding: 10px 0px;
}
.logInForm{
    background-color: antiquewhite;
    padding: 30px;
    border :1px solid rgba(124, 97, 97, 0.726),
    border -radius 1px;

}
input{
    padding:5px;
    margin:3px  0px;
    outline: none;
    font-size:16px;
    width:100%;
    box-sizing:border-box;
}
#logIn{
    background-color: rgb(173, 71, 134);
    border:none;
    border-radius: 3px;
    color: beige;
    font-weight: bold;
    padding: 5px;
    width:80%;
    cursor: pointer;

 }
 .loginForm2{
    background-color: aliceblue;
    padding: 30px;
    margin-top: 5px;
    border :1px solid rgba(124, 97, 97, 0.726),
    border -radius 1px;
}
#logIn {
    background-color: hsla(310, 69%, 51%, 0.863);
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  #logIn:hover {
    background-color:#47a394;
}